<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GestorDocumental.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    


    <HeadOutlet />
</head>

<body>

    <RadzenDialogProvider>
    <Routes />
    </RadzenDialogProvider>


    <RadzenNotification />
    <RadzenContextMenu />

   
    <script src="_framework/blazor.web.js"></script>
    <script src="script.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    
    <script>
                function abrirPdfDesdeBytes(base64Data) {
            const byteCharacters = atob(base64Data);
            const byteNumbers = new Array(byteCharacters.length);
            for (let i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            const byteArray = new Uint8Array(byteNumbers);
            const file = new Blob([byteArray], { type: 'application/pdf' });
            const fileURL = URL.createObjectURL(file);
            window.open(fileURL, '_blank');
        }
    </script>




</body>

</html>
