@using Microsoft.AspNetCore.Components
@using GestorDocumental.Business.Interfaces
@using GestorDocumental.Data.Entities
@using Radzen
@using Radzen.Blazor
@inject NavigationManager Navigation
@inject IArchivoService ArchivoService
@inject ICursoService CursoService

@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<div class="contenedor">
    <!-- Barra lateral izquierda (Menú de navegación) -->
    <div class="sidebar">
        <NavMenu />
    </div>

    <!-- Contenedor del contenido principal -->
    <div class="contenido-wrapper">
        <main class="contenido-principal">
            @Body
            <RadzenDialog />
        </main>
    </div>
</div>

<!-- Mensaje de error Blazor -->
<div id="blazor-error-ui">
    Ha ocurrido un error inesperado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

