@inherits LayoutComponentBase
@namespace GestorDocumental.Components.Layout

<RadzenComponents @rendermode="InteractiveServer" />

<div class="login-layout" style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/wwwroot/icons/logosinfondo.png') no-repeat center center;
    background-size: cover;">
    
    <div class="login-container" style="padding: 20px; max-width: 400px; background: rgba(255, 255, 255, 0.8); border-radius: 8px;">
        @Body
    </div>
</div>
