@inherits LayoutComponentBase
@namespace GestorDocumental.Components.Layout

<RadzenComponents @rendermode="InteractiveServer" />

<div class="page minimal-layout" style="padding: 20px; max-width: 800px; margin: auto;">
    @Body
</div>
