@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using GestorDocumental.Business.Interfaces
@using GestorDocumental.Data.Entities
@using Radzen
@using Radzen.Blazor
@inject ICursoService CursoService
@inject IGrupoService GrupoService
@inject DialogService DialogService
@rendermode InteractiveServer

<EditForm Model="@nuevoCurso" OnValidSubmit="ConfirmarSubida">
    <DataAnnotationsValidator />

    <RadzenCard Style="padding: 20px; max-width: 600px; margin: auto;">
        <div style="display: flex; flex-direction: column; gap: 15px;">
            <div>
                <label>Nombre del curso:</label>
                <RadzenTextBox @bind-Value="nuevoCurso.Descripcion" Placeholder="Nombre curso" Style="width: 100%;" />
                <ValidationMessage For="@(() => nuevoCurso.Descripcion)" style="color: red;" />
            </div>

            <div>
                <label>Grupo:</label>
                <RadzenTextBox @bind-Value="nuevoGrupo.Grupo" Placeholder="Grupo" Style="width: 100%;" />

            </div>


            <div class="botones" style="display: flex; justify-content: space-between;">
                <RadzenButton Text="Guardar"
                ButtonType="ButtonType.Submit"
                ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Cancelar"
                ButtonStyle="ButtonStyle.Secondary"
                Click="CancelarSubida" />
            </div>
        </div>
    </RadzenCard>
</EditForm>


@code {
    RadzenUpload upload;

    [Parameter] public int CodigoUsuario { get; set; }

    private Curso nuevoCurso = new() { };
    private Grupos nuevoGrupo = new() { };


    private void OnProgress(UploadProgressArgs args)
    {
        StateHasChanged();
    }

    private async Task ConfirmarSubida()
    {
        var cursoExistente = await CursoService.ObtenerCursoPorNombre(nuevoCurso.Descripcion);
        if (cursoExistente != null)
        {
            await DialogService.Alert("Ya existe un curso con el mismo nombre. Por favor, elija otro nombre.",
                                        "Validación",
                                        new ConfirmOptions { OkButtonText = "Aceptar" });
            return;
        }

        if (string.IsNullOrWhiteSpace(nuevoGrupo.Grupo))
        {
            await DialogService.Alert("Debe especificar un nombre para el grupo.",
                                      "Validación",
                                      new ConfirmOptions { OkButtonText = "Aceptar" });
            return;
        }

        var confirmacion = await DialogService.Confirm("¿Quiere crear este curso?", "Confirmar añadir curso",
            new ConfirmOptions { OkButtonText = "Sí", CancelButtonText = "Cancelar" });

        if (confirmacion == true)
        {
            await CursoService.AgregarCursoAsync(nuevoCurso);

            nuevoGrupo.CodigoCurso = nuevoCurso.CodigoCurso;
            await GrupoService.AgregarGrupo(nuevoGrupo);
            await CursoService.AgregarRelacionCursoUsuario(nuevoCurso.CodigoCurso, CodigoUsuario, nuevoGrupo.Grupo);
            await CursoService.AgregarRelacionCursosUsuarioGrupo(nuevoCurso.CodigoCurso, nuevoGrupo.Grupo);
        }

        DialogService.Close(true);
    }

    private void CancelarSubida()
    {
        DialogService.Close(false);
    }
}
