@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using GestorDocumental.Business.Interfaces
@using GestorDocumental.Data.Entities
@using Radzen
@using Radzen.Blazor
@inject ICarpetaService CarpetaService
@inject DialogService DialogService
@rendermode InteractiveServer

<RadzenCard Style="padding: 20px; max-width: 600px; margin: auto;">
    <div style="display: flex; flex-direction: column; gap: 15px;">
        <!-- Mostrar el nombre del archivo actual -->
        <div>
            <label><b>Nombre de la carpeta:</b></label>
            <p>@carpetaActual.Descripcion</p>
        </div>

        <!-- Campo para el nuevo nombre de archivo -->
        <div>
            <label><b>Nuevo nombre de archivo:</b></label>
            <RadzenTextBox @bind-Value="nuevoNombre" Style="width: 100%;" />
        </div>

        <!-- Botones de acción -->
        <div class="botones" style="display: flex; justify-content: space-between;">
            <RadzenButton Text="Modificar"
                          ButtonStyle="ButtonStyle.Primary"
                          Click="ModificarNombreCarpeta" />

            <RadzenButton Text="Cancelar"
                          ButtonStyle="ButtonStyle.Secondary"
                          Click="Cancelar" />
        </div>
    </div>
</RadzenCard>

@code {
    RadzenUpload radzenUpload;

    [Parameter] public int CodigoCarpeta { get; set; }

    private string nuevoNombre;
    private Carpeta carpetaActual = new Carpeta();

    protected override async Task OnParametersSetAsync()
    {
        await CargarCarpeta();
    }

    private async Task CargarCarpeta()
    {
        try
        {
            if (CodigoCarpeta != 0)
            {
                carpetaActual = await CarpetaService.ObtenerCarpeta(CodigoCarpeta);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error en ObtenerCarpeta: {e.Message}");
        }
    }

    private async void ModificarNombreCarpeta()
    {

        carpetaActual.Descripcion = nuevoNombre;

        await CarpetaService.ModificarCarpeta(carpetaActual);


        DialogService.Close(true);
    }

    private void Cancelar()
    {
        DialogService.Close(false);
    }
}
