@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using GestorDocumental.Business.Interfaces
@using GestorDocumental.Data.Entities
@using Radzen
@using Radzen.Blazor
@using Microsoft.JSInterop
@using System.IO
@inject ICarpetaService CarpetaService
@inject IArchivoService ArchivoService
@inject DialogService DialogService
@inject IJSRuntime JS
@rendermode InteractiveServer

<RadzenCard Style="padding: 20px; max-width: 600px; margin: auto;">
    <div style="display: flex; flex-direction: column; gap: 15px;">
        @if(CodigoOpcion == 1){ //crear carpeta

            <div>
                <label>Nombre:</label>
                <RadzenTextBox @bind-Value="carpetaNueva.Descripcion" Placeholder="Nombre carpeta" Style="width: 100%;" />
            </div>

            <div>
                <label>Grupo:</label>
                <RadzenTextBox @bind-Value="carpetaNueva.Grupo" Placeholder="Grupo" Style="width: 100%;" />
            </div>

            <div class="botones" style="display: flex; justify-content: space-between;">
                <RadzenButton Text="Guardar"
                Click="ConfirmarSubida"
                ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Cancelar"
                ButtonStyle="ButtonStyle.Secondary"
                Click="CancelarSubida" />
            </div>
        }else{ //subir una carpeta

            <div>
                <label>Selecciona una carpeta:</label>
              



            </div>

            <div>
                <label>Grupo:</label>
                <RadzenTextBox @bind-Value="carpetaNueva.Grupo" Placeholder="Grupo" Style="width: 100%;" />
            </div>

            <div class="botones" style="display: flex; justify-content: space-between;">
                <RadzenButton Text="Guardar"
                              Click="ConfirmarSubida"
                              ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Cancelar"
                              ButtonStyle="ButtonStyle.Secondary"
                              Click="CancelarSubida" />
            </div>
        }

    </div>
</RadzenCard>


@code {
    RadzenUpload upload;

    [Parameter] public int CodigoCurso { get; set; }
    [Parameter] public int CodigoUsuario { get; set; }
    [Parameter] public int CodigoOpcion { get; set; }
    [Parameter] public string DescripcionCurso{ get; set; }

    private Carpeta carpetaNueva = new() { };
    private List<Archivo> archivos = new List<Archivo>();

    private ElementReference fileInputElement;


    private void OnProgress(UploadProgressArgs args)
    {
        StateHasChanged();
    }




    private void CancelarArchivo()
    {
        carpetaNueva = new Carpeta();
        StateHasChanged();
    }

    private async Task ConfirmarSubida()
    {
        if(CodigoOpcion == 1){
            carpetaNueva.Path = DescripcionCurso + "/" + carpetaNueva.Descripcion;
            carpetaNueva.Subida = DateTime.Now;
            carpetaNueva.Propietario = CodigoUsuario;
            carpetaNueva.Curso = CodigoCurso;

            await CarpetaService.CrearCarpeta(carpetaNueva);

            DialogService.Close(true);
        }
        else{

        }


        DialogService.Close(true);
    }

    private void CancelarSubida()
    {
        DialogService.Close(false);
    }

  

}
